<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.raccoons.mission-control</string>
    <key>ProgramArguments</key>
    <array>
        <string>__NODE__</string>
        <string>__SERVER_DIR__/dist/index.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__SERVER_DIR__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__HOME__/.mission-control/server.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/.mission-control/server.log</string>
</dict>
</plist>
